@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*INDEX*/
header{
    height: 80px;
    width: 100%;
    background-color: rgb(80, 78, 78,0.9);
    font-size: 24px;        
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    text-transform: uppercase;
    position: sticky;
    top: 0px;
    border-bottom: rgb(190, 38, 0) solid 5px;
}
.logo{
    float: left;  
    margin-left: 40px;
}
/* .redes{
    float: right; 
    margin-right: 20px; 
    font-size: 48px;   
    color: rgb(255, 255, 255);
}

.redes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
} */

.barra{
    text-align: right;
    margin-right: 40px;
    
}
.barra ul{
    list-style: none;    
}
.barra ul li{
    display: inline-block;
    padding-left: 20px;
}
.barra a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.barra a:hover{
    color:rgb(190, 38, 0);
    text-decoration: underline;
}


.sec{    
    /*width: 100%;   */      
    display: flex;
    align-items: center;  
    justify-content: center;  
    
}
.info_home{
    width: 70%;   
    padding: 20px;   
    display: flex;
    align-items: center;  
    justify-content: center; 
}
.tit_asesoramiento{
    font-size: 56px;   
    font-family: 'Montserrat', sans-serif;
    color: rgb(80, 78, 78);
}

.sec .p1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(190, 38, 0);
    display: inline-block;
	/*position: relative;*/
}
.info{
    width: 40%;   
    display: inline-block;
    text-align: right;
    padding: 20px;
}
.img_asesoramiento{    
    display: inline-block;
}
.sec .p2{
    padding: 20px;
    width: 40%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    
    font-size: 24px;
    display: inline-block;
	/*position: relative;*/
}

.tarjetas {
    width: 100%; 
    text-align:center;
    background-color: rgb(211, 211, 211);   
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.card {
    display:inline-block;
    position: relative;
    width: 25%;	
    margin: 20px;  
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(56, 56, 56);
}
.card h4{
    font-size: 20px;
}
.card button{
    width: 80%;
    border-radius: 25px;
    background-color: rgb(10, 24, 151);
    color: rgb(255, 255,255);
    font-size: 16px;    
    padding: 5px;
}
.card button:hover{    
    cursor:pointer;
    background-color: rgb(32, 45, 170);
}

.card img{
    padding: 20px;
}

/*SOBRE NOSOTROS*/
.body_nosotros{
    background: url('../img/oficina.jpg') ;
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;   
    margin:0    
}
.nosotros{
    width: 80%; 
    margin-top: 10%;
    margin-bottom: 10%;
    text-align:center;  
    background-color: rgb(56, 56, 56,0.7);
    display: flex;
    float:right;
    
}
.imagenNosotros{
    width: 35%;
    margin-top:  8%;
    display:inline-block;
    
}
.textNosotros {
    width: 50%;
    margin-top:  5%;
    padding-bottom: 40px;
    display:inline-block;  
    text-align:center; 
    font-size: 28px;
    color: white;
    text-align: start;
}
.textNosotros h1{
    font-weight: bold;
    padding-bottom: 20px;
}


/*SEGUROS*/
.body_seguros{
    background: url('../img/seguros.png') ;
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;   
    margin:0    
}

/*INFORMACION*/
.body_informacion{
    background: url('../img/util2.jpg') ;
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;   
    margin:0    
}

.section_info{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}
.artic{
    display:inline-block;
    margin-top: 10%;
    margin-right: 5%;
    background-color: rgba(2, 14, 80, 0.8);
    border-radius: 25px;
    width: 300px;
    height: 450px;
}
.artic h3{
    padding: 30px;
    padding-bottom: 40px;
}
.artic ul{
    text-align: left;
    padding-left: 50px;
    padding-bottom: 30px;
}
.artic ul li{
    padding-bottom: 30px;
}

/*CONTACTO*/
.body_contact{
    background-image: url('../img/contacto.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    margin:0
}
.form{
    width:450px;
    height:660px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative
}

#contact {
    margin: 10px 0px 50px;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}
input {
    width: 100%;
    padding: 10px;    
    margin-bottom: 20px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}

#but_contact {
    float: right;
    padding: 8px 12px;
    margin: 30px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
}

.whats{
    height: 45px;
    width: 45px;    
    position: fixed;
    right: 20px;
    bottom: 40px;    
}